.app-backup {
  &-tips {
    font-size: 12px;
    padding: 0 12px;

    dt {
      font-weight: 500;
    }

    dd {
      margin-left: 0;
      margin-bottom: 12px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}