.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--ant-color-split);
  padding: 4px 8px 4px 0;

  &-main {
    width: 180px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }

  &-secondary {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
  }
}

.app-search {
  flex: 1;
}

.app-active-group {
  color: var(--ant-color-text);
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding: 1px 8px;
  border-radius: 4px;
  background: var(--ant-layout-light-sider-bg);
}