.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--ant-color-split);
  padding: 8px;

  &-main {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-name {
    margin-left: 4px;
    color: var(--ant-color-text);
    
  }
}