.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--ant-color-split);
  padding: 4px 8px 4px 0;

  &-main {
    width: 180px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &-secondary {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.app-brand {
  &-name {
    margin-left: 4px;
    color: var(--ant-color-text);
  }
}

.app-search {
  flex: 1;
}

.app-menus {
  margin-left: 8px;
  margin-right: 4px;
}

.app-active-group {
  color: var(--ant-color-text);
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}