.app-layout {
  height: 400px;
  overflow: hidden;
}

.app-sider {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-items-list {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  > div:last-child {
    border-bottom: none !important;
  }
}

.app-header,
.app-footer {
  padding: 8px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #f0f0f0;
}

.app-footer {
  border-top: solid 1px #f0f0f0;
}

.app-content {
  border-left: solid 1px #f0f0f0;
}