.app-layout {
  height: 100vh;
  overflow: hidden;
}

.app-content {
  border-left: solid 1px var(--ant-color-split);

  &-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
